.vs/slnx.sqlite
.vs/AO5Interview/v16/.suo
src/.vs/AO5Interview/v16/Server/sqlite3/db.lock
src/.vs/AO5Interview/v16/Server/sqlite3/storage.ide
src/.vs/AO5Interview/v16/Server/sqlite3/storage.ide-shm
src/.vs/AO5Interview/v16/Server/sqlite3/storage.ide-wal
src/AO5Interview/ClientApp/package-lock.json