<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<h1 class="ml-1 mb-5">Hi there!</h1>
<!--
  https://getbootstrap.com/docs/4.0/components/input-group/
-->
<div class="container">
  <div class="row">
    <div class="col">
      <label for="basic-url">Please enter the item and its price below to add to your shopping basket below</label>
      <p class="float-right">{{ total }}</p><i class="material-icons float-right mr-2">shopping_basket</i>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">Item</span>
        </div>
        <input type="text" class="form-control" id="basic-url" placeholder="Book" aria-describedby="basic-addon3" [(ngModel)]="item">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input class="form-control" type="number" placeholder="0.00" step="0.01" data-number-to-fixed="2" aria-label="amount" [(ngModel)]="amount">
      </div>
      <div class="mb-10"> 
        <span class="badge float-right">
          <button (click)="submit()" type="button" class="btn" style="background-color: black; color: white" [hidden]="genReceipt===true">Submit Item</button>
          <button (click)="generateReceipt()" type="button" class="btn ml-2" style="background-color: lightblue" [hidden]="genReceipt===true">Generate Receipt</button>
          <button (click)="reset()" type="button" class="btn" style="background-color: darkorange; color: white" [hidden]="genReceipt===false">Start Again</button>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5" *ngIf="genReceipt">
  <div class="row">
    <div class="col">
      <app-receipt [shoppingBasket]= "shoppingBasket"></app-receipt>
    </div>
  </div>
</div>